<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.qa.testcases.masterpages.subpages_2.DocumentTypePageTest"/>
      <class name="com.qa.testcases.masterpages.subpages_1.OccupationPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
